* {
  font-family: "Quicksand", 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: #000 !important;
  /* Text remains visible */
  border-radius: 25px;
  /* Ensure consistency with your TextField styling */
  transition: background-color 5000s ease-in-out 0s;
  /* Prevent flicker */
}

body {
  /* background-color: #f0b27a; */
  background-size: cover;
  /* Ensures the image covers the whole page */
  background-position: center;
  /* Centers the background image */
  background-repeat: no-repeat;
  /* Prevents tiling of the background image */
  min-height: 100vh;
  /* Ensures it covers at least the viewport height */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-gray-900;
  }
}

@layer components {
  .btn {
    @apply inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500;
  }
}